{%extends 'base.html'%}

{%block content%}
  {{block.super}}
  <div class="jumbotron">
    <div class="">
    <h1>Image Studio</h1>
    <div class="Xearch" >
      <form class=" class="Search" form group" action="index.html" method="post">
        <input placeholder="Search by Category" class="form-control" type="search" name="" value="">
        <i class="search">eg House,Food,line....</i>

      </form>

    </div>
    </div>

  </div>
  <div class="container-fluid">
    <div class="row">
      {%for image in images%}
      <div class="col-md-6">
        <div class="card view overlay ">
          <div class="card-body">

              <img class="img-fluid rgba-red-slight" src="{{image.image.url}}" alt="">
              <p>{{image.name}}</p>
              <div class="mask flex-center waves-effect waves-light">
    <p class="white-text">{{image.name}}</p>
  </div>




          </div>


        </div>
      </div>
      {%endfor%}

    </div>



  </div>
{%endblock%}
