{%extends 'base.html'%}

{%block content%}
  {{block.super}}
  <div class="jumbotron">
    <div class="">
    <h1>Image Studio</h1>
    <div class="Xearch" >
      <form class=" class="Search" form group" action="index.html" method="post">
        <input placeholder="Search by Category" class="form-control" type="search" name="" value="">
        <i class="search">eg House,Food,line....</i>

      </form>

    </div>
    </div>

  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        

      </div>

    </div>


  </div>
{%endblock%}
