{%extends 'base.html'%}

{%block content%}
  {{block.super}}
  <div class="jumbotron">
    <div class="">
    <h1>Image Studio</h1>
    <div class="Xearch" >
      <form class=" class="Search" form group" action="index.html" method="post">
        <input placeholder="Search by Category" class="form-control" type="search" name="" value="">
        <i class="search">eg House,Food,line....</i>

      </form>

    </div>
    </div>

  </div>
  <div class="container-fluid">
    <div class="row">
      {%for image in images%}
      <div class="col-md-4">
        <div class=" view overlay ">

            <a id="link1" data-toggle="modal" data-target="#{{image.name}}">
            <img  class="img-fluid rgba-red-slight" src="{{image.image.url}}" alt="">
            <div class="mask flex-center waves-effect waves-light">
                <p class="white-text">{{image.name}}</p>
             </div>
             <div class="bottom-left">
               <p>{{image.decription}} location: {{image.locate}} </p>
             </div>

             </a>




        </div>

        <!-- Modal -->
        <!-- Modal -->
        <div class="modal fade" id="{{image.name}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">

          <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">


            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{image.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div id="showImg" class="modal-body">
                <img class="img-fluid" src="{{image.image.url}}" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Copy Link address</button>
                <button type="button" class="btn btn-primary">Share</button>
              </div>
            </div>
          </div>
        </div>


      </div>
      {%endfor%}
      <!-- Button trigger modal -->


    </div>






  </div>
{%endblock%}
